[loggers]
keys=root,puresnmp

[logger_root]
level=INFO
handlers=stdout

[logger_puresnmp]
level=WARN
handlers=stdout
qualname=puresnmp.transport

[handlers]
keys=stdout

[handler_stdout]
class=StreamHandler
level=INFO
args=(sys.stdout,)
formatter=common

[formatters]
keys=common

[formatter_common]
format=%(levelname)s - %(asctime)s - %(name)s - %(message)s
datefmt=
class=logging.Formatter
