configparser>=5.0.1
puresnmp>=1.10.2
asyncio>=3.4.3
dmr-utils3>=0.1.29
setuptools>=60.9.1
bitarray>=2.3.5
ok-dmrlib>=0.3

# developers / contributors
scapy>=2.4.5
uvloop>=0.15.2
pytest
pytest-cov
pytest-asyncio>=0.18.1
