dmr-utils3
configparser
kaitaistruct @ git+https://github.com/kaitai-io/kaitai_struct_python_runtime.git
black
easysnmp
pre-commit
yamllint
python-pcapng
pcapng
kamene
bitstring
bitarray
uvloop
aiohttp
asyncio